html, body {
  background-color: rgb(250, 250, 250);
}
#cy {
  width: 50vh;
  height: 50vh;
  margin-left: calc( (100vw - 50vh) / 2 );
  padding: 0%;
  margin-bottom: 0vh;
  margin-top: 2vh;
  /* z-index: 4; */
  /* background-color: rgb(106, 158, 207); */
  border-width: 50px;
  border-color: rgb(51, 51, 51);
  border-radius: 15%;
}

.button-container {
  text-align: center;
}

.button {

}
.button {
  /* position: absolute;
  top: 2vh;
  left: 5vw; */
  padding: 1vmax;
  font-size: 2.3vmax;
  width: 10vmax;
  background-color: rgb(208, 165, 37);
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  /* display: block; */
  margin: 1em 0em;
  cursor: pointer;
  border-radius: 1vmax;
  user-select: none;
  outline: none;
  box-shadow: 0 0.5vmax rgb(221, 221, 221);
  z-index: 2;
}
.button:active {
  box-shadow: 0 0.3vmax rgb(102, 102, 102);
  transform: translateY(4px);
}

#title-container {
  width: 80vw;
  margin-left: 10vw;
}

#title {
  text-align: center;
  font-size: 3em;
}

#about {
  width: 50vw;
  margin-left: 25vw;
  font-size: 1.5em;
}

#what-to-do {
  /* text-align: center; */
  /* margin-left: 30%; */
  /* margin-right: 30%; */
  font-size: 1.5em;
}

#ilp {
  text-align: center;
}
